body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 80px);
}

::-moz-selection { /* Code for Firefox */
    background: rgba(59, 59, 58, 0.9);
}

::selection {
    background: rgba(59, 59, 58, 0.9);
}

.calculator {
    background-color: rgba(33, 32, 30, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 1px 1px #313333;
    margin: 10px;
    padding: 5px 5px 2px 5px;
    max-width: 350px;
    width: 100%;
}

.screen {
    color: white;
    display: flex;
    flex-flow: column wrap;
    font-size: 36px;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 20px 10px 40px 10px;
    overflow: hidden;
    height: 150px;
    text-align: right;
}

.operation {
    font-size: 50%;
    font-weight: 300;
    margin-bottom: 10px;
    opacity: 0.7;
}

.value {
    font-size: 100%;
    font-weight: 500;
    min-height: 42px;
}

.buttons {
    display: flex;
    flex-flow: column;
}

.btn-row {
    display: flex;
    gap: 3px;
    margin-bottom: 3px;
    width: 100%;
}

.btn {
    aspect-ratio: 1/1;
    box-sizing: border-box;
    background-color: rgba(59, 59, 58, 1);
    border: none;
    border-radius: 5px;
    color: #fff;
    display: flex;
    flex: 1 1 25%;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 300;
    outline: none;
    cursor: pointer;
    user-select: none;
    transition: all 0.05s;
}

.btn svg {
    display: inline;
    fill: #fff;
}

.btn.operator,
.btn.action {
    background-color: rgba(49, 51, 51, 1);
}

.btn.equal {
    background-color: rgba(239, 201, 50, 1);
}

.btn:hover {
    background-color: rgba(49, 51, 51, 1);
}

.btn.operator:hover,
.btn.action:hover {
    background-color: rgba(59, 59, 58, 1);
}

.btn.equal:hover {
    background-color: rgba(239, 201, 50, 0.9);
}

.btn.clicked {
    background-color: rgba(59, 59, 58, 0.7);
    transition: 0s;
}

.btn.operator.clicked,
.btn.action.clicked {
    background-color: rgba(49, 51, 51, 0.7);
    transition: 0s;
}

.btn.equal.clicked {
    background-color: rgba(239, 201, 50, 0.7);
    transition: 0s;
}

.credits {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 80px;
}

.credits a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #fff;
    text-decoration: none;
    width: 24px;
    height: 24px;
}

.credits a svg {
    flex-shrink: 0;
    fill: #fff;
    max-width: 24px;
    height: 24px;
    transition: all 0.2s linear;
}

.credits a:hover svg {
    fill: #efc932;
    transform: scale(1.1);
}